<!-- see https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-ii-templates -->
<html>
  <head>
    {% if title %}
    <title>Physics Derivation Graph: {{ title }}</title>
    {% else %}
    <title>Welcome to the Physics Derivation Graph</title>
    {% endif %}

{% include '_js_head.html' %}



  </head>
  <body>
  <!-- https://gist.github.com/MalphasWats/3031823 -->
  <h1>Flask AJAX Test</h1>
<form action="" method="POST">
<input type="text" name="search_string" id="search_string">
<input type="button" value="Submit" onclick="return loadXMLDoc()">
</form>
<div id="myDiv"></div>


<!-- https://flask.palletsprojects.com/en/1.1.x/patterns/flashing/ -->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% if messages|length > 1 %}
    MESSAGES:
    {% else %}
    MESSAGE:
    {% endif %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}



<P>
 <center>
<svg id='viz'></svg>
 </center>
</P>

{% include '_d3_js.html' %}
{% include '_footer.html' %}

    </body>
</html>
