<!-- see https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-ii-templates -->
<html>
  <head>
    {% if title %}
    <title>Physics Derivation Graph: {{ title }}</title>
    {% else %}
    <title>Welcome to the Physics Derivation Graph</title>
    {% endif %}

{% include '_js_head.html' %}


<script type="text/x-mathjax-config">
  MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
</script>
<script type="text/javascript" async
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML">
</script>


  </head>
  <body>

    <h3 class="header">
      If $ax^2+bx+c=0$, then $x=\frac{-b\pm\sqrt{b^2-4ac}}{2a}$.
  </h3>
  
  
  <!-- https://gist.github.com/MalphasWats/3031823 -->
  <h1>Flask AJAX Test</h1>

<input type="text" name="search_string" id="search_string">
<input type="button" value="Submit" onclick="return draw_graph('ajax')">

<div id="myDiv"></div>


<!-- https://flask.palletsprojects.com/en/1.1.x/patterns/flashing/ -->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% if messages|length > 1 %}
    MESSAGES:
    {% else %}
    MESSAGE:
    {% endif %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}



<P>
 <center>
<svg id='viz'></svg>
 </center>
</P>

<script src="../static/d3.v5.js"></script>
<script src='../static/_d3_custom.js'></script>
<script>

draw_graph('http://localhost:5000/ajax-*');

</script>
{% include '_footer.html' %}

    </body>
</html>
