<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>MathBox - Graph Search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/three@0.137.0/build/three.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/three@0.137.0/examples/js/controls/OrbitControls.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/mathbox@latest/build/bundle/mathbox.js"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/mathbox@latest/build/mathbox.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.5.1/katex.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.5.1/katex.min.js"></script>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1" />
  </head>
  <body>
    <div class="search-container">
        <input type="text" id="searchInput" placeholder="Search nodes..." />
        <button id="searchButton">Search</button>
    </div>
    <div id="mathbox-container"></div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>